:root {
  --primary-color: rgba(94,77,6);
  --secondary-color: rgb(232,230,123);
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Consolas, monaco, monospace;
  font-size: 1.6rem;
  background: no-repeat linear-gradient(to bottom, var(--primary-color) 0%, var(--secondary-color) 100%); 
}

 a:active,
 a:visited,
 a:hover {
  color: inherit;
 }
