:root {
  --primary-color: rgba(7,27,82,1);
  --secondary-color: rgba(0,128,128,1);
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Consolas, monaco, monospace;
  font-size: 1.6rem;
  background: linear-gradient(to bottom, var(--primary-color) 0%, var(--secondary-color) 100%); 
}
